td,
th,
tr,
table {
  border-top: 1px solid black;
  border-collapse: collapse;
}

table {
  display: block;
  border-spacing: 0;
  border-color: #000;
}

td.description,
th.description {
  width: 90px;
  max-width: 90px;
}

td.quantity,
th.quantity {
  width: 30px;
  max-width: 30px;
  word-break: break-all;
}

td.price,
th.price {
  width: 30px;
  max-width: 30px;
  word-break: break-all;
}

.centered {
  text-align: center;
  align-content: center;
}

.ticket {
  width: 200px;
  max-width: 200px;
  font-weight: unset;

  * {
    font-size: 12px;
    font-family: 'Times New Roman';
    color: #000;
  }
}

img {
  max-width: inherit;
  width: inherit;
}

@media print {
  .hidden-print,
  .hidden-print * {
    display: none !important;
  }
}
