td,
th,
tr,
table {
  border-top: 1px solid black;
  border-collapse: collapse;
  font-weight: bold !important;
}

table {
  display: block;
  border-spacing: 0;
  border-color: #000;
}
th {
  font-weight: bolder;
}

td.description,
th.description {
  width: 130px;
  max-width: 130px;
}

td.quantity,
th.quantity {
  width: 50px;
  max-width: 50px;
  word-break: break-all;
}

td.price,
th.price {
  width: 50px;
  max-width: 50px;
  word-break: break-all;
}

.centered {
  text-align: center;
  align-content: center;
}

.ticket {
  width: 300px;
  max-width: 300px;
  font-weight: normal !important;

  * {
    font-size: 12px;
    font-family: 'Times New Roman';
    color: #000;
  }
}

@media print {
  .hidden-print,
  .hidden-print * {
    display: none !important;
  }
}
